body{
  font-family: "Lobster Two", cursive;
   font-size: 1.5rem
}


.for {
  margin: 3rem;
  position: relative;
  width: 50%;
}
.relatives {
  position: relative;
}
.phone1 {
  position: absolute;

  bottom: 15rem;
  left: 3rem;
}
.phone2 {
  position: absolute;

  bottom: 9rem;
  left: 3rem;
}
/* .tables{ */
/* width: 300px; */
/* margin: 2rem auto; */
/* border: 2px solid red; */
/* margin-bottom: 5rem; */
/* height: 25rem; */
/* } */
.contact {

 background-image: linear-gradient( blue , yellow);
}






